<%- include('./includes/head', { pageTitle: 'Resource not found' }) %>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>Resource not found!</h1>
        <p>Unfortunately, we could not find the requested resource.</p>
        <p><a href="/">Back to safety!</a></p>
    </main>
<%- include('./includes/footer') %>
